/* Global Styles */
* {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

/* === Registration page === */
/* Set page background */
body.register,
body.login {
    background-image: url(../img/register-background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

a h3:hover{
    color: cornflowerblue;
}

a {
    text-decoration: none;
}

/* Form shaddow */
.box {
    -webkit-box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.7);
}

img.logo {
    height: 36px;
    /* align-self: center; */
}

.callout-danger {
    border-left: solid tomato 4px;
    background-color: whitesmoke;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0px 5px 5px 0px;
    margin-left: .5em;
}
.callout-success {
    border-left: solid lime 4px;
    background-color: whitesmoke;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0px 5px 5px 0px;
    margin-left: .5em;
}

.callout-danger-alert {
    position: absolute;
    top: 25%;
    border-left: solid tomato 4px;
    background-color: whitesmoke;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0px 5px 5px 0px;
    margin-left: .5em;
}

/* prepare the container for the preview overlay */
.preview-container {
    position: relative;
    display: flex;
}

/* Size the thumbnails */
.preview-container.small {
    width: 230px;
    height: 129px;
    margin-right: 4px;
    display: inline-flex;
}
/* make the thumbnail fit the preview-container.small */
.preview-container.small img {
    width: 100%;
    height: 100%;
    /* Object fit cover makes sure that the img is not stretched basically it will just push what dont fit outside of the display area */
    object-fit: cover;
}

/* create overlay on top of preview-container */
.preview-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
}

.preview-image,
.preview-video {
    /* Image preview custom styles */
    height: inherit;
}

.preview-overlay .main-details h3 {
    margin: 15px 0px;
}

/* Overlay content */
.preview-overlay .main-details {
    position: relative;
    top: 35%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

/* Preview Buttons styles */
.buttons button {
    background-color: rgba(51, 51, 51, 0.6);
    color: white;
    border: none;
    min-width: 150px;
    padding: 0px 38px;
    height: 50px;
    max-height: 50px;
    font-size: 18px;
    border-radius: 2px;
    margin-bottom: 15px;
    margin-right: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #e6e6e6;
    color: #000;
}

.category {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

/* Scrollbars for categories */
/* width */
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: cornflowerblue; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:dodgerblue; 
}

.entities,
.videos {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.season{
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
}

.episode-container {
    display: inline-flex;
    justify-content: center;
    margin-right: 4px;
    overflow: hidden;
}
.episode-container .contents {
    display: flex;
    flex-direction: column;
    width: 230px;
}
.episode-container img {
    width: 230px;
    height: 129px;
    object-fit: cover;
}
.episode-container .video-info h4,
.episode-container .video-info span {
    width: 100%;
    white-space: normal;
}
.episode-container .video-info {
    max-height: 120px;
    overflow-y: scroll;
}
/* Hide the vertical scrollbar while still enabling scroll */
.episode-container .video-info::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.preview-categories.no-scroll .entities {
    white-space: normal;
}

/* .watch-container {
    width: 100%;
} */

/* .video-controls.watch-nav{ */
.video-controls {
    position: absolute;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.up-next {
    height: 100%;
    justify-content: center;
}

.watch-nav {
    z-index: 2;
}

.seen {
    /* color: #2ecc71; */
    position: absolute;
    font-size: 26px;
    margin-left: 5px;
    margin-top: 2px;
}
